ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

ul li {
  position: relative;
  margin-bottom: 0;
}

.item {
  display: flex;
  width: 100%;
}

.green {
 background-color: #34b38c;
}

.yellow {
 background-color: #ec9310;
}

.red {
 background-color: #dc3f30;
}

.number-container {
  max-width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;
}

.line {
  margin-top: 3px;
  margin-bottom: 3px;
  height: calc(100% - 36px);
  width: 2px;
  background-color: #d9d9d9;
}

.number {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;
  height: 20px;
  padding: 5px;
}

.activity-feed {
  font-family: "Proxima Nova",helvetica,sans-serif!important;
}

/* less then 767 */
@media screen and (max-width: 767px) {
  .activity-feed-item {
    flex-wrap: wrap-reverse;
    margin-bottom: 15px !important;
  }

  .date {
    margin-left: 0px !important;
    min-width: 100%;
    margin-bottom: 10px;
  }

  .number-container {
    margin-right: 8px !important;
  }
}

.activity-feed-item {
  display: flex;
  width: inherit;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
}

.link {
  color: #418ccf;
  text-decoration: none;
}

.date {
  margin-left: 80px;
  font-weight: 500;
}

.content {
  width: 100%;
}

.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #252f40;
}

.content-description {
  width: 100%;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.6;
  color: #898989;
}
